
.layout-container
    height 100%
    .sider-container
    .layout-content
        .header-content
            background #fff
            padding 0 15px
        .content-container
            margin 24px 16px 0 16px
            padding 24px
            background #fff
            min-height 280px
        .footer-content
            text-align center
.icon-collapsed
    font-size: 20px